*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1537px;
    margin:0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
}

main{
    background-color: #f1f2f5;
}

.color_selector_wrapper{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 11px;
    border-radius: 15px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .dot:hover{
    border: 3px solid greenyellow;
  }

  #white:hover{
    border: 3px solid greenyellow;
  }

  #crossed{
    background: linear-gradient(to top right,
    rgba(255,0,0,0) 0%,
    rgba(255,0,0,0) calc(50% - 0.8px),
    rgba(255,0,0,1) 50%,
    rgba(255,0,0,0) calc(50% + 0.8px),
    rgba(255,0,0,0) 100%);
    border: 1px solid red;
  }

  #grid_container{
    /*grid-template-columns: repeat(10, 1fr);*/
    display: grid;
    max-width: 1912px;
    flex-basis: 100%;
    gap: 0px;
    margin: 0 auto;
    background-color: white;
  }


  .square{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
  }



  /*color selector's colors*/
  #black{
    background-color: black;
  }

  #white{
    background-color: white;
    border:1px solid lightgrey;
  }

  #pink{
    background-color: pink;
  }


  /*grid colors*/ 
  .black{
    background-color: black;
  }

  .pink{
    background-color: pink;
  }